<div class="main-container">
    <div class="card">
        <form [formGroup]="requestForm" >
            <div class="input-container" >
                <label for="url">URL</label>
                <input type="text" formControlName="url" id="url">
            </div>
            <div class="input-container" >
                <label for="method">METHOD</label>
                <input type="text" formControlName="method" id="method">
            </div>
            <button class="submit" (click)="handleSubmitRequest()" >Call</button>
        </form>
    </div>
    <div class="response-container">
        <code>{{response}}</code>
    </div>
</div>
