.card {
    /* border: 2px solid black; */
    padding: 20px;
    .input-container {
        label {
            display: block;
        }
        input {
            width: -webkit-fill-available;
        }
        padding-bottom: 10px;
    }
}